<%= form_with model: @tenant, local: true do |form| %>
  <% if @tenant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tenant.errors.count, "error") %> prohibited this tenant from being saved:
      </h2>
      <ul>
      <% tenant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container"
   <div class="row">
      <%= bootstrap_form_for(@tenant) do |f| %>
        <%= f.text_field :last_name, class: "form-control" %>
        <%= f.text_field :first_name, class: "form-control" %>
        <%= f.text_field :address_line_1, class: "form-control" %>
        <%= f.text_field :address_line_2, class: "form-control" %>
        <%= f.text_field :town, class: "form-control" %>
        <%= f.text_field :county, class: "form-control" %>
        <%= f.text_field :postal_code, class: "form-control" %>
        <%= f.text_field :estate_id, class: "form-control" %>
        <%= f.text_field :phone_number, class: "form-control" %>
        <%= f.text_field :email, class: "form-control" %>
        <%= f.select :employment_status, [["Employed", "Employed"], ["Unemployed", "Unemployed"]], class: "form-control" %>
        <%= f.number_field :tenant_count, class: "form-control" %>
        <%= f.text_field :move_in_date, class: "form-control", placeholder: 'MM/DD/YYYY' %>
        <%= f.number_field :term_months, class: "form-control" %>
        <%= f.select :furnished, [["Furnished", "Furnished"], ["Unfurnished", "Unfurnished"]], class: "form-control" %>
        <%= f.text_field :lead_source, class: "form-control" %>
        <%= f.text_field :special_requirements, class: "form-control" %>
        <%= f.text_field :budget, append: "per week", class: "form-control" %>
        <%= f.text_field :url_1, class: "form-control" %>
        <%= f.text_field :url_2, class: "form-control" %>
        <%= f.text_field :url_3, class: "form-control" %>
        <%= f.text_field :url_4, class: "form-control" %>
        <%= f.text_field :url_5, class: "form-control" %>
        <%= f.text_field :url_6, class: "form-control" %>
        <%= f.text_field :notes, class: "form-control" %>
       

        <%= f.submit "Update Tenant"%>
      <% end %>
    </div>
  </div>
<% end %>
