<div class="jumbotron">
<div class="container">
 <h1><strong>Show Tenant</strong></h1>
</div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>
          <h1><%= @tenant.first_name + ', ' + @tenant.last_name %></h1>
        </p>
             
        <p>
          <strong>Occupied Estate</strong>
          <%= @tenant.estate.address_line_1 + ', ' + @tenant.estate.address_line_2 + ', ' + @tenant.estate.town  ', ' + @tenant.estate.county + ', ' + @tenant.estate.postal_code %>
        <p>
          <strong>Tenant Current Address</strong>
          <%= @tenant.address_line_1 + ', ' + @tenant.address_line_2 + ', ' + @tenant.town + ', ' + @tenant.county + ', ' + @tenant.postal_code %>
        </p>
        
        <p>
          <strong>Phone Number:</strong>
          <%= @tenant.phone_number %>
        </p>

        <p>
          <strong>E-mail address:</strong>
          <%= @tenant.email %>
        </p>
                        
        <p>
          <strong>Budget:</strong>
          <%= @tenant.budget %>
        </p>

        <p>
          <strong>Employment Status:</strong>
          <%= @tenant.employment_status %>
        </p>

        <p>
          <strong>Tenant Count:</strong>
          <%= @tenant.tenant_count %>
        </p>
            
        <p>
          <strong>Move In Date:</strong>
          <%= @tenant.move_in_date %>
        </p>

        <p>
          <strong>Months of Term:</strong>
          <%= @tenant.term_months %>
        </p>

        <p>
          <strong>Furnished or Unfurnished:</strong>
          <%= @tenant.furnished %>
        </p>

        <p>
          <strong>Source of Lead:</strong>
          <%= @tenant.lead_source %>
        </p>

        <p>
          <strong>Url 1:</strong>
          <%= @tenant.url_1 %>
        </p>

        <p>
          <strong>Url 2:</strong>
          <%= @tenant.url_2 %>
        </p>

        <p>
          <strong>Url 3:</strong>
          <%= @tenant.url_3 %>
        </p>

        <p>
          <strong>Url 4:</strong>
          <%= @tenant.url_4 %>
        </p>

        <p>
          <strong>Url 5:</strong>
          <%= @tenant.url_5 %>
        </p>

        <p>
          <strong>Url 6:</strong>
          <%= @tenant.url_6 %>
        </p>
        <p>
          <strong>Special Requirements:</strong>
          <%= @tenant.special_requirements %>
        </p>

        <p>
          <strong>Notes:</strong>
          <%= @tenant.notes %>
        </p>

        <%= link_to 'Edit', edit_tenant_path(@tenant) %> |
        <%= link_to 'Back', tenants_path %>

      </div>
  </div>
</div>

 

