<%= form_with model: @estate, local: true do |form| %>
  <% if @estate.errors.any? %>
    <div id="error_explanation">
      <h2> <%= pluralize(@estate.errors.count, "error") %> prohibited this estate from being saved:
      </h2>
      <ul>
        <% estate.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container"
    <div class="row">
      <%= bootstrap_form_for @estate do |f| %>
        <%= f.text_field :address_line_1, class: "form-control" %>
        <%= f.text_field :address_line_2, class: "form-control" %>
        <%= f.text_field :town, class: "form-control" %>
        <%= f.text_field :county, class: "form-control" %>
        <%= f.text_field :postal_code, class: "form-control" %>
        <%= f.select :status, [["Available", "Available"], ["Reserved", "Reserved"], ["Occupied", "Occupied"]], class: "form-control" %>        <%= f.text_field :sRef_ID, class: "form-control" %>
        <%= f.date_field :available_date, class: "form-control", placeholder: 'MM/DD/YYYY' %>
        <%= f.number_field :bedrooms, class: "form-control" %>
        <%= f.number_field :bathrooms, class: "form-control" %>
        <%= f.number_field :square_footage, class: "form-control" %>
        <%= f.number_field :rent, append: "per week", class: "form-control" %>
        <%= f.text_field :web, class: "form-control" %>
        <%= f.text_field :rightmove, class: "form-control" %>
        <%= f.text_field :gumtree, class: "form-control" %>
        <%= f.text_field :estate_web, class: "form-control" %>
        <%= f.text_field :agent_1, class: "form-control" %>
        <%= f.text_field :agent_2, class: "form-control" %>
        
        <%= f.submit "Update estate"%>
      <% end %>
    </div>
  </div>
<% end %>
