<div class="jumbotron">
<div class="container">
  <h1><strong>All Estates</strong></h1>
   <p>Here you can create new estates or search for estates based on your desired criteria. You can also show, update or delete individual estates.</p>
   <p><a class="btn btn-primary btn-lg" href="estates/new" role="button">New estate &raquo;</a></p>
</div>
</div>
<div class="container">    
      <table id="estates" class="display dt-responsive colreorder" style="width:100%">
        <thead>
          <tr>
            <th>ID</th>
            <th>Address</th>
            <th>Reference ID</th>
            <th>Available Date</th> 
            <th>Bedrooms</th>
            <th>Bathrooms</th>
            <th>Web Url</th>
            <th>RightMove Url</th>
            <th>Gumtree Url</th>
            <th>Estate Web Url</th>
            <th>Agent 1 Url</th>
            <th>Agent 2 Url</th>
            <th>Square footage</th>
            <th>Rent per week</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @estates.each do |estate| %>
          <tr>
            <td><%= estate.id %></td>
            <td><%= estate.address_line_1 %>
            ,
            <%= estate.address_line_2 %>
            ,
            <%= estate.town %> 
            ,
            <%= estate.county %>
            ,  
            <%= estate.postal_code %></td>
            <td><%= estate.sRef_ID %></td>
            <td><%= estate.available_date %></td>
            <td><%= estate.bedrooms %></td>
            <td><%= estate.bathrooms %></td>
            <td><%= estate.web %></td>
            <td><%= estate.rightmove %></td>
            <td><%= estate.gumtree %></td>
            <td><%= estate.estate_web %></td>
            <td><%= estate.agent_1 %></td>
            <td><%= estate.agent_2 %></td>
            <td><%= estate.square_footage %></td>
            <td><%= estate.rent %></td>
            <td><%= link_to 'Show', estate %></td>
            <td><%= link_to 'Edit', edit_estate_path(estate) %></td>
            <td><%= link_to 'Destroy', estate, 
                    method: :delete, 
                          data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
</div>

