<div class="jumbotron">
<div class="container">
  <h1><strong>All Estates</strong></h1>
</div>
</div>
<div class="container">

<%= button_to 'New Estate', new_estate_path, :id => "open-contacts-dialog-btn",
      :class => "inbox-sf-add-btn tip", :method => :get %>
      <table id="estates" class="display responsive colreorder select-item" style="width:100%">
        <thead>
          <tr>
            <th>Estate address</th>
            <th>Area</th>
            <th>Bedrooms</th>
            <th>Bathrooms</th>
            <th>Square footage</th>
            <th>Rent</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @estates.each do |estate| %>
          <tr>
            <td><%= estate.estate_address %></td>
            <td><%= estate.area %></td>
            <td><%= estate.bedrooms %></td>
            <td><%= estate.bathrooms %></td>
            <td><%= estate.square_footage %></td>
            <td><%= estate.rent %></td>
            <td><%= link_to 'Show', estate %></td>
            <td><%= link_to 'Edit', edit_estate_path(estate) %></td>
            <td><%= link_to 'Destroy', estate, 
                    method: :delete, 
                          data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
</div>

