<div class="jumbotron">
<div class="container">
  <h1><strong>All Estates</strong></h1>
    <p>Here you can create new estates or search for estates based on your desired criteria. You can also show, update or delete individual estates. The table below is able to be highlighted and copied.</p>
  <p><a class="btn btn-primary btn-lg" href="estates/new" role="button">New estate &raquo;</a></p>
</div>
</div>
<div class="container">    
      <table id="estates" class="display dt-responsive colreorder select-item" style="width:100%">
        <thead>
          <tr>
            <th>Address Line 1</th>
            <th>Address Line 2</th>
            <th>Town</th>
            <th>County</th>
            <th>Postal Code</th>
            <th>Bedrooms</th>
            <th>Bathrooms</th>
            <th>Square footage</th>
            <th>Rent</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @estates.each do |estate| %>
          <tr>
            <td><%= estate.address_line_1 %></td>
            <td><%= estate.address_line_2 %></td>
            <td><%= estate.town %></td>
            <td><%= estate.county %></td>
            <td><%= estate.postal_code %></td>
            <td><%= estate.bedrooms %></td>
            <td><%= estate.bathrooms %></td>
            <td><%= "#{estate.square_footage} ft" %></td>
            <td><%= number_to_currency estate.rent %></td>
            <td><%= link_to 'Show', estate %></td>
            <td><%= link_to 'Edit', edit_estate_path(estate) %></td>
            <td><%= link_to 'Destroy', estate, 
                    method: :delete, 
                          data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
</div>

