<div class="jumbotron">
<div class="container">
 <h1><strong>Show Estate</strong></h1>
</div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>
          <h1><%= @estate.address_line_1 + @estate.address_line_2 + ', ' + @estate.town + @estate.county + ', ' + @estate.postal_code %>
          </h1>
        </p>

        <p>
          <strong>ID:</strong>
          <%= @estate.id %>
        </p>

        <p>
          <strong>Reference ID:</strong>
          <%= @estate.sRef_ID %>
        </p>

        <p>
          <strong>Available Date:</strong>
          <%= @estate.available_date %>
        </p>

        <p>
          <strong>Bedrooms:</strong>
          <%= @estate.bedrooms %>
        </p>

        <p>
          <strong>Bathrooms:</strong>
          <%= @estate.bathrooms %>
        </p>
            
        <p>
          <strong>Square footage:</strong>
          <%= @estate.square_footage %>
        </p>

        <p>
          <strong>Rent:</strong>
          <%= @estate.rent %>
        </p>

        <p>
          <strong>Web Url:</strong>
          <%= @estate.web %>
        </p>
                
        <p>
          <strong>Rightmove Url:</strong>
          <%= @estate.rightmove %>
        </p>
                
        <p>
          <strong>Gumtree Url:</strong>
          <%= @estate.gumtree %>
        </p>
                
        <p>
          <strong>Estate Web Url:</strong>
          <%= @estate.estate_web %>
        </p>
                
        <p>
          <strong>Agent 1 Url:</strong>
          <%= @estate.agent_1 %>
        </p>
              
        <p>
          <strong>Agent 2 Url:</strong>
          <%= @estate.agent_2 %>
        </p>  
        
        <%= link_to 'Edit', edit_estate_path(@estate) %> |
        <%= link_to 'Back', estates_path %>

      </div>
  </div>
</div>

 

